<h1 class="title">About-Us</h1>
<mat-card>
    <mat-grid-list cols="2">
        <mat-grid-tile>
            <img src="https://uploads0.wikiart.org/00129/images/katsushika-hokusai/the-great-wave-off-kanagawa.jpg!Portrait.jpg" alt="The Great Wave">
        </mat-grid-tile>
        <mat-grid-tile>
            <p>Welcome to Coffee and Canva Gallery, where we blend the rich flavors of art with the aromatic 
            essence of coffee. Our web app is a curated space that celebrates the beauty of canvases from 
            across the globe. At the heart of our platform is the innovative use of the Wikiart API, 
            a powerful tool that allows us to seamlessly retrieve comprehensive information about 
            each canvas we showcase.</p>
        </mat-grid-tile>
    </mat-grid-list>

</mat-card>
<mat-card>
    <mat-grid-list cols="2">
        <mat-grid-tile>
            <p>Our commitment to providing an immersive art experience begins with the utilization of the 
            Wikiart API, which enables us to access a vast repository of artwork details. Through 
            this integration, we bring you more than just an image - we present the complete story 
            behind each canvas. From the striking visual elements to the captivating narratives woven 
            by artists.</p>
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="https://uploads4.wikiart.org/images/ivan-aivazovsky/a-rocky-coastal-landscape-in-the-aegean-1884.jpg!Portrait.jpg" alt="Aivazovsky">
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>
<mat-card>
    <mat-grid-list cols="2">
        <mat-grid-tile>
            <img src="https://uploads3.wikiart.org/00339/images/leonardo-da-vinci/mona-lisa-c-1503-1519.jpg!Portrait.jpg" alt="MonaLisa">
        </mat-grid-tile>
        <mat-grid-tile>
            <p>Immerse yourself in the world of art as you explore our gallery, where every click unveils 
            a new canvas, accompanied by its photo, title, and artist details. Our user-friendly interface
            ensures a seamless journey, allowing you to sip on your favorite coffee while indulging in the
            diverse and mesmerizing world of art. Join us on a unique voyage where technology meets 
            creativity, and the result is a harmonious symphony of visual delight and aromatic inspiration.</p>
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>
<mat-card>
    <mat-grid-list cols="2">
        <mat-grid-tile>
            <p>Coffee and Canva Gallery is not just a platform; it's a tribute to the timeless connection 
            between art and the senses. By harnessing the power of the Wikiart API, we aim to create an 
            online sanctuary where art lovers can savor the essence of both visual and sensory pleasures. 
            Join us in this celebration of creativity, where every canvas tells a story, and every sip of 
            coffee enhances the richness of your artistic journey.</p>
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="https://uploads7.wikiart.org/images/frederic-edwin-church/aurora-borealis-1865.jpg!Portrait.jpg" alt="Edwin Church">
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>

<app-buy/>