
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Coffee & Canvas Retreat</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
<div id="background">
    <app-welcome></app-welcome>
    <hr>
    <app-about-us></app-about-us>
    <footer>
      Luis Javier Origel Gonzalez | Universidad La Salle Bajio
    </footer>
</div>



<router-outlet></router-outlet>
