<mat-card class="header">
    <div class="input-field">
        <input #input  placeholder="Ex. Van Gogh">
    </div>

    <button mat-raised-button class="search" (click)="Search(input.value)">Search</button>
    <p class="query">Results of: {{query}}</p>
    <hr>
</mat-card>
    @if(show == true){
        @defer(on timer(300)){
        <div class="content">
        @for (component of content.data; track component.id){
            <a (click)="searchPaint(component.id)">
            <mat-card class="paint">
            <img src="{{component.image}}" alt="{{component.title}}" class="img">
            <p class="title">{{component.title}}</p>
            <p class="artist">{{component.artistName}}</p>
            </mat-card>
            </a>
        }
        </div>
        }@loading {
            <div class="loader">
                </div>
        }
    }@else {
        <div class="space">
        <div class="loader">
        </div>
        </div>
    }

    
