.example-spacer {
    flex: 1 1 auto;
  }

mat-toolbar {
    background-color: brown;
    color: aliceblue;
}
#title{
  font-family: Caveat;
  text-align: center;
  font-size: 70px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}