
html, body { height: 100%; }
body { margin: 0; 
    font-family: Roboto, "Helvetica Neue", 
    sans-serif; 
    padding: 0;
    background-image: url('app/wallpaper.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
